// Vimo主题及变量定制
// 相关说明: http://ionicframework.com/docs/theming/

// Named Color Variables
// --------------------------------------------------
// 颜色"primary"是必须的, 其余都是可选, 如果考虑到样式大小, 建议根据需要精简$colors列表
$hairlines-width: 1px;

$colors: (
  primary: #008eff,
  danger: #f53d3d,
  dark: #666666
);

// App iOS Variables

// --------------------------------------------------
// 在这里填写 iOS 相关的自定义变量设置

// App Material Design Variables
// --------------------------------------------------
// 在这里填写 Material Design 相关的自定义变量设置
